.App {
  text-align: center;
}

#myInput {
  padding: 20px;
  margin-top: -6px;
  border: 0;
  border-radius: 0;
  background: #f1f1f1;
}

.menu-scroll {
  overflow-y: scroll;
  max-height: 300px;
  max-width: 80px;
}

.search-box{
  max-width: 105px;
}